.blinking {
    animation: blink 0.5s linear infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
  }
  